    *{
            margin: 0;
            padding: 0;

        }
        nav a{
            text-decoration: none;
            margin: 55px;
            padding: 5px;
        }
        nav{
            padding: 5px;
        }
        header{
            background-color: palegreen;
            padding: 30px;
        }
        #BOX{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            background-color: green;
            text-align: center;
            
        }
        .box{
            height: 100px;
            width: 100px;
            background-color: hotpink;
            margin: 5px;
            display: inline-block;


        }
        #container{
            border: 3px solid;
            margin: 5px;
        }
        #box4{
            position: fixed;
            right: 400px;
        }
        .boxes{
            display: inline-block;
            width: 100px;
            height: 100px;
            background-color: aqua;
            margin: 40px;
        }
        .box8{
            width: 100px;
            height: 100px;
            background-color: violet;
            margin: 50px;
            z-index: 2;
        }
        #footer{
            background-color: rgb(226, 26, 126,0.4)
             
            ;
            position: fixed;
            bottom: 0px;
        }
       
        #box1{

        }
        #box2{
            z-index: 2;
            position: absolute;
            left: 20px;

        }
        #box3{

        }