 *{
            margin:0;
            padding: 0;
        }
        .box{
            height: 100px;
            width: 100px;
            border:3px solid black;
            margin:5px ;
            background-color: blue;
        }
        #heading{
            text-align: center;
        }
        #container{
            height: 600px;
            width: 600px;
           
            padding: 10px;
            margin: 20px;
            border: 3px solid;
            
            background-color: lightsalmon;
            display: flex;
            flex-direction: row;
            /* align-items: start; */
            /* flex-direction: row-reverse; */
            /* justify-content: center; */
            align-content:center;
            
            flex-wrap: wrap;
            
        }
        #box1{background-color: aqua;
        order:2 ;}
        #box2{background-color: blanchedalmond;
        
    order:3 ;}
        #box3{background-color: brown;
            order:1;
        }
        #box4{background-color: hotpink;
            order:4;
        /* align-self:center ; */
    /* flex-shrink:0;} */}